<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bluetooth.brightness"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:icon="@drawable/bright_app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name=".communication.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".communication.Device_Config"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".communication.PairedListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:label="@string/select_device" >
        </activity>
        <activity
            android:name=".communication.UnPairedListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:label="@string/select_device" >
        </activity>
        <activity
            android:name=".communication.BluetoothService"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".communication.Setting"
            android:configChanges="orientation|keyboardHidden" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".schedule.Schedule_Screen"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".schedule.Schedule_Detail_Screen"
            android:configChanges="orientation|keyboardHidden" 
            android:screenOrientation="portrait">
        </activity>
         <activity
            android:name=".schedule.Schedule_Detail_Edit"
            android:configChanges="orientation|keyboardHidden" 
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>